<div class="panel panel-event {{ event.category }}">
  <div class="panel-heading" role="tab" id="headingOne">
    <div class="panel-title row-container">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#id-{{ event.pk }}" aria-expanded="true" aria-controls="collapseOne">
        <div class="row col-xs-12 col-md-12">
          <div class="col-xs-4 col-md-4 row-elem">
            <span class="title">{{ event.start_date | date:"SHORT_DATE_FORMAT" }}</span>
            <span class="kkdetail">klo&nbsp;{{ event.time }}</span>
          </div>
          <div class="col-xs-4 col-md-4 row-elem text-center">
            {{ event.title }}
          </div>
          <div class="col-xs-4 col-md-4 row-elem text-right">
            {{ event.city }}
          </div>
        </div>
      </a>
    </div>
  </div>
    <div id="id-{{ event.pk }}" class="panel-collapse collapse icon" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
            <div class="text-content">
                <div class="info col-xs-12 col-md-8">
                    <p>{{ event.description }}</p>
                    <p><a href="http://koodikerho.fi/">http://koodikerho.fi/</a></p>
                    <dl class="dl-horizontal event-description-list">
                        <dt>Ota mukaan:</dt>
                        <dd>{{ event.bring_along }}</dd>
                        <dt>Hinta:</dt>
                        <dd>{{ event.price }}&nbsp;€</dd>
                        <dt>Esitiedot:</dt>
                        <dd>{{ event.requirements }}</dd>
                        <dt>Järjestäjä:</dt>
                        <dd>
                        {{ event.organization }}
                        {% if event.organizer %}
                            , {{ event.organizer.get_full_name }}, <a href="mailto:{{ event.organizer.email }}">{{ event.organizer.email }}</a>
                        {% endif %}
                        </dd>
                    </dl>
                </div>
                <div class="col-xs-12 col-md-4 text-center">
                    {% if event.lat and event.lng %}
                        <img src="https://maps.googleapis.com/maps/api/staticmap?center={{event.lat}},{{event.lng}}&zoom=16&size=300x300&markers={{event.lat}},{{event.lng}}&output=embed" width="300" height="300" frameborder="0" style="border:0" allowfullscreen />
                    {% endif %}
                </div>
                {% if event.booked %}
                    <div class="signup">Kurssi on täynnä</div>
                {% endif %}
            </div>
        </div>
        {% if not event.booked %}
            <div class="panel-body">
                <div class="text-content">
                    <div class="info col-xs-12 mol-md-8">
                        {% include "events/signup.html" %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
