{% load tags %}

<form method="post" class="signup-form" action="{% url 'web.views.handle_signup' pk=event.pk %}">
  {% csrf_token %}

  <div class="col-md-12 signup-container">
    <div class="row">
      <div class="col-md-12">
        <h3>ILMOITTAUDU</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 form-group">
        {% show_form_field form.child 'person' %}
      </div>

      <div class="col-md-2 form-group">
        {% show_form_field form.age 'age' %}
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 form-group">
        {% show_form_field form.guardian 'guardian' %}
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 form-group">
        {% show_form_field form.email 'email' %}
      </div>
      <div class="col-md-4 form-group">
        {% show_form_field form.phone 'phone' %}
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 form-group">
        {% show_form_field form.other 'details' %}
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 form-group">
        <input disabled class="btn btn-submit" type="submit" id="signup" name="signup" value="Lähetä">
      </div>
      <div class="col-md-4">
        <img class="spinner" src="/static/media/ajax-loader.gif" alt="Loading">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p class="submit-message success">Ilmoittautumisesi on lähetetty!</p>
        <p class="submit-message error">Palvelinvirhe. Yritä hetken kuluttua uudelleen.</p>
      </div>
    </div>

  </div>

</form>
