{% extends "base.html" %}
{% block title %}Koodikoulu - rekisteröityminen{% endblock %}
{% load form_extras %}
{% block content %}
<div class="section signup-container">
  <div class="container page">
    <div class="row">
      <form method="post" action="{% url 'web.views.register' %}">
        {% csrf_token %}
        <div class="col-sm-4 col-md-4 col-md-offset-4">
          <h1 class="sub-title">Rekisteröityminen</h1>
          {% for field in form %}
          <div class="row">
            <div class="form-group">
              {% show_form_field field %}
              {{ field.errors }}
            </div>
          </div>
          {% endfor %}
          <input class="btn" type="submit" value="Rekisteröidy" />
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
