body {
    background: #4C3750;
}

section {
    display: none;
}

.navbar {
    display: none;
}

.browserupgrade {
    margin: 4em;
    color: #ffffff;
    padding: 0.2em;
    text-align: center;
}

.browserupgrade a {
    color: #ffffff;
}

.ie-image {
    margin: 0 auto;
    height: 240px;
    display: block;
}
