body {
    font-size: 16px;
    padding-top: 65px; /* make room for fixed nav */
}

body.organizer {
    padding-top: 110px; /* 65px base + 45px organizer nav */
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color: #484639;
}

h3 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 1em;
}

h3.panel-title {
    text-transform: none;
}

h3.box-title {
    font-size: 24px;
    font-weight: 300;
    text-transform: none;
    margin-top: 80px;
    margin-bottom: 40px;
}

body, p, ul, li {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

p,
li {
    font-size: 18px;
    font-weight: 300;
}

.section.feedback {
    padding: 2em;
}

.section.feedback p {
    margin: 0;
}

p a {
    font-weight: 500;
    color: #000;
    text-decoration: underline;
}

p a:hover {
    color: #DE5462;
}

p a:after {
    content: ' >'
}

p, dt, dd, li {
    line-height: 32px;
}

p,
ul {
    margin-bottom: 1em;
}

section {
    margin-bottom: 2em;
}

.ubuntu {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

.opensans {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.material a:link {
    color: #333 !important;
}

.material a:hover {
    text-decoration: none;
}

.material a:visited {
    color: #333 !important;
}

.white {
    color: #FFFFFF !important;
}

.navbar {
    background: #4C3750;
    margin: 0;
    border: none;
}

.navbar a {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.navbar.organizer-nav {
    background: #3f2d42;
    min-height: 45px;
}

.navbar.organizer-nav a {
    color: #a38da8;
    font-size: 12px;
    text-transform: none;
    padding: 12.5px 10px !important;
}

.navbar.organizer-nav a:hover,
.navbar.organizer-nav a:active,
.navbar.organizer-nav a:focus {
    color: #fff !important;
}

.navbar a.active {
    border-bottom: 5px solid #6bbea9;
}

.navbar.organizer-nav a.active {
    border: none
}

.navbar .nav>li {
    display: inline-block;
}

.jumbotron p {
    font-size: 18px
}

.navbar .navbar-nav {
    display: inline-block;
    vertical-align: top;
    float: none;
    margin: 0
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar .navbar-nav a {
    margin: 0 20px;
    padding: 20px 10px;
}

.navbar-nav li:first-child a {
    margin-left: 0;
}
.navbar-nav li:last-child a {
    margin-right: 0;
}

.start {
    background-color: #4C3750;
    margin-bottom: 0 !important;
    min-height: 52vh;
}

.start p {
    line-height: 30px;
}

.start-title {
    font-family: Ubuntu, sans-serif;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-weight: 700;
    margin-bottom: 30px;
}

.material {
    background-color: #E9E9E9;
}

.section.yellow {
    background-color: #fec772;
}

.events {
    padding-bottom: 88px;
}

.sub-title {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    color: #484639;
    text-align: center;
}

.page {
    min-height: 80vh;
    padding-bottom: 20px;
}

.container {
    overflow-x: hidden;
}

.panel,
.panel-group .panel {
    border: none;
    border-radius: 1px;
    box-shadow: none;
}

.panel-group.event-list {
    margin-top: 40px;
    margin-bottom: 35px;
}

.panel-default {
    padding: 20px 20px 18px;
    min-height: 250px;
    color: #484639;
}

.panel-default > .panel-heading {
    background: none;
    border: none;
}

.panel-event.active .panel-heading {
    background: #eee;
}

.panel-event .panel-heading {
    padding: 13px 15px;
}

.panel-group .panel-event.ENSIASKELEET .panel-heading {
    border-left: 10px solid #6bbea9;
    border-right: 10px solid #6bbea9;
}

.panel-group .panel-event.ILTIS .panel-heading {
    border-left: 10px solid #8b7790;
    border-right: 10px solid #8b7790;
}

.panel-group .panel-event.OTHER .panel-heading {
    border-left: 10px solid #DE5462;
    border-right: 10px solid #DE5462;
}

img.icon {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    vertical-align: sub;
}

.panel-1 {
    border-top: 10px solid #6bbea9;
}

.panel-2 {
    border-top: 10px solid #8b7790;
}

.panel-group .panel-head {
    background: #4C3750;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    margin-bottom: 10px;
}

.panel-heading {
    border-radius: 0;
}

.panel-heading h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    margin: 5px 0;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: none;
}

.info, .info p {
    font-size: 14px;
}

.box-container {
    margin: 0 auto;
    max-width: 940px;
}

.box-default {
    margin: 0 auto;
    padding: 0;
    min-height: 300px;
    width: 300px;
    margin-right: 20px;
}

.box {
    position: relative;
    height: 300px;
    width: 300px;
    margin-bottom: 20px;
    color: #484639;
    background-color: #FFFFFF;
}
.age-4 { background-color: #6bbea9; }
.age-6 { background-color: #fec772; }
.age-8 { background-color: #8b7790; }
.age-12 { background-color: #80ADC3; }
.age-18 { background-color: #DE5462; }

.box-age-4 { border-bottom: #6bbea9; }
.box-age-6 { border-bottom: #fec772; }
.box-age-8 { border-bottom: #8b7790; }
.box-age-12 { border-bottom: #80ADC3; }
.box-age-18 { border-bottom: #DE5462; }

.box-default :hover .box-age-4 { outline: #6EBDA9; }
.box-default :hover .box-age-6 { outline: #fec772; }
.box-default :hover .box-age-8 { outline: #8b7790; }
.box-default :hover .box-age-12 { outline: #80ADC3; }
.box-default :hover .box-age-18 { outline: #DE5462; }

.box-border {
    border-bottom-style: solid;
    border-bottom-width: 4px;
}

.box-default a:hover a:active a:link a:after a:visited {
    text-decoration: none;
}

.box-default :hover .box {
    outline-style: solid;
    outline-width: 4px;
    cursor: pointer;
    cursor: hand;
    border-bottom: none;
}

.box-age {
    float: left;
    height: 60px;
    width: 80px;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 60px;
    text-align: center;
}

.box-language {
    float: right;
    font-size: 18px;
    margin-top: 16px;
    margin-right: 17px;
    text-align: center;
}

.box-price {
    position: absolute;
    font-size: 18px;
    text-align: center;
    right: 17px;
    bottom: 16px;
}

.box-header {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    margin: 40px 30px 0 25px
}

.box-text {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    position: absolute;
    bottom: 24px;
    left: 25px;
    width: 255px;
    color: #484639;
}

.box-info {
    height: 60px;
}

@media (min-width: 768px) {
    .title, .detail {
        float: left;
        padding-right: 10px;
    }
}

.extra {
    clear: both;
}

.row-elem {
    float: left;
}

.row-container {
    overflow: auto;
}

.event-description-list dt {
    text-align: left;
    font-weight: 600;
}

.text-content {
    font-size: 16px;
}

.no-padding {
    padding: 0;
}

.full {
    color: red;
}

.non-full {
    color: lawngreen;
}

label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

label.required:after {
    color: red;
    content: '*';
}

.icon {
    font-size: 180px;
}

.label-text {
    font-size: 30px;
}

.footer {
    min-height: 30vh;
    background-color: #4C3750;
    color: #FFFFFF;
}

.center {
    text-align: center;
}

input, textarea {
    border: none;
    padding: 13px;
    width: 100%;
    resize: none;
}

input.time {
    width: 3em;
    -moz-appearance:textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.signup-container {
    background: #f1f1f1;
    padding: 10px 30px;
}

.signup-container h3 {
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 20px;
}

.picture {
    background: #6bbea9;;
    border-radius: 1000px;
    width: 200px;
    height: 200px;
    margin: 2em auto;
}

.login-container {
    background: #f1f1f1;
}

.create-event-container {
    background: #f1f1f1;
}

.styled-select select {
    width: 300px;
    height: 48px;
    padding: 13px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    background: url("../media/icon/arrow_down.svg") no-repeat;
    background-position-x: 265px;
    background-position-y: 20px;
    background-color: #FFFFFF;
    -webkit-appearance: none;
}

.btn {
    padding: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btn-submit {
    background: #6BBEA9;
    color: #FFFFFF;
}

.btn-submit:hover {
    color: #FFFFFF;
}

.btn-external {
    margin: 30px;
}

.footer img {
  margin: 0 40px 100px 40px;
}

.img-koodikerho {
  height: 80px;
}

.img-futurice {
  height: 40px;
}

.img-reaktor {
  height: 40px;
}

.footer .img-reaktor {
  margin-top: 10px; /* to align baselines with the futu logo in the footer */
}

iframe.first-lesson {
    height: 400px;
    width: 90%;
}

.thumb-image {
    max-height: 400px;
    width: 90%;
}

form .submit-message,
form .spinner {
    display: none;
}

form .submit-message.success {
    color: green;
}
form .submit-message.error {
    color: red;
}

@media (max-width: 992px) {
    body {
        font-size: 14px;
    }

    p {
        font-size: 16px;
    }

    .footer img {
        margin-bottom: 50px;
    }

    .img-reaktor,
    .img-futurice {
        height: 25px;
    }

    .img-koodikerho {
        height: 40px;
    }

    .sub-title,
    h3.box-title {
        font-size: 18px;
    }

    .panel-heading h3 {
        font-size: 18px;
    }

    .navbar-default .navbar-nav>li>a {
        font-size: 12px;
    }

    .navbar .navbar-nav a {
        margin: 0 10px;
    }

    .panel-title {
        font-size: 12px;
        letter-spacing: 0;
    }

    .box-container {
        max-width: 610px;
    }

    .box-default {
        margin: 0 auto;
    }
}

