body {
    font-size: 16px;
    padding-top: 65px; /* make room for fixed nav */
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

body, p, ul, li {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

p {
    font-size: 18px;
    font-weight: lighter;
}

p, dt, dd {
    line-height: 22px;
}

.ubuntu {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

.opensans {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.material a:link {
    color: #333 !important;
}

.material a:hover {
    text-decoration: none;
}

.material a:visited {
    color: #333 !important;
}

.white {
    color: #FFFFFF !important;
}

.navbar {
    background: #4C3750;
    margin: 0;
    border: none;
}

.navbar a {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.navbar a.active {
    border-bottom: 5px solid #6bbea9;
}

.navbar .nav>li {
    display: inline-block;
}

.jumbotron p {
    font-size: 18px
}

.navbar .navbar-nav {
    display: inline-block;
    vertical-align: top;
    float: none;
    margin: 0
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar .navbar-nav a {
    margin: 0 20px;
    padding: 20px 10px;
}

.navbar-nav li:first-child a {
    margin-left: 0;
}
.navbar-nav li:last-child a {
    margin-right: 0;
}

.start {
    background-color: #4C3750;
    margin-bottom: 0 !important;
    min-height: 52vh;
}

.start p {
    line-height: 30px;
}

.start-title {
    font-family: Ubuntu, sans-serif;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-weight: 700;
    margin-bottom: 30px;
}

.material {
    background-color: #FFFFFF;
}

.events {
    background-color: #fdbc5f;
}

.story {
    background-color: #6BBEA9;
}

.sub-title {
    margin-top: 10vh;
    margin-bottom: 10vh;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    color: #484639;
    text-align: center;
}

.page {
    min-height: 80vh;
    padding-bottom: 20px;
}

.panel {
    border: none;
    border-radius: 0 !important;
    box-shadow: none;
}

.panel-heading {
    border-radius: 0;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: none;
}

.info, .info p {
    font-size: 14px;
}

.box {
    height: 400px;
    width: 300px;
    margin: auto;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.box-header {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    margin-top: 100px;
}

.box-text {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 25px;
}

@media (min-width: 768px) {
    .title, .detail {
        float: left;
        padding-right: 10px;
    }
}

.extra {
    clear: both;
}

.row-elem {
    float: left;
}

.row-container {
    overflow: auto;
}

.event-description-list dt {
    text-align: left;
    font-weight: 600;
}

.text-content {
    font-size: 16px;
}

.no-padding {
    padding: 0;
}

.full {
    color: red;
}

.non-full {
    color: lawngreen;
}

label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.icon {
    font-size: 180px;
}

.label-text {
    font-size: 30px;
}

.turtle {
    width: 100%;
    margin: auto;
}

/*.text-container ul {*/
    /*list-style-type: disc;*/
    /*overflow: visible;*/
    /*padding-left: 40px;*/
    /*font-weight: lighter;*/
/*}*/

.footer {
    min-height: 30vh;
    background-color: #4C3750;
    color: white;
}

.center {
    text-align: center;
}

.box1 {
    background-color: #6BBEA9;
}

.box2 {
    background-color: #FEC772;
}

.box3 {
    background-color: #4C384F;
}

.box4 {
    background-color: #8A778F;
}

.box5 {
    background-color: #E9E9E9;
}

.box6 {
    background-color: #E25462;
}

input, textarea {
    border: none;
    padding: 13px;
    width: 100%;
    resize: none;
}

input[type=number] {
    width: 3em;
    -moz-appearance:textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.signup-container {
    background: #f1f1f1;
    padding: 10px 30px;
}

.signup-container h3 {
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 20px;
}

.login-container {
    background: #f1f1f1;
}

.create-event-container {
    background: #f1f1f1;
}

.btn {
    padding: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btn-submit {
    background: #6BBEA9;
    color: white;
}

.btn-submit:hover {
    color: white;
}

.footer img {
  margin: 0 40px 100px 40px;
}

.img-koodikerho {
  height: 80px;
}

.img-futurice {
  height: 40px;
}

.img-reaktor {
  height: 40px;
}

.footer .img-reaktor {
  margin-top: 10px; /* to align baselines with the futu logo in the footer */
}
