body {
    font-size: 16px;
}

ul {
    list-style-type: none;
    overflow: auto;
    padding: 15px 0 15px 0;
    margin: 0;
}

li {
    clear: both;
}

p {
    font-size: 18px !important;
    font-weight: lighter !important;
}

.ubuntu {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

.opensans {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

a:link {
    color: #333 !important;
}

a:hover {
    text-decoration: none;
}

a:visited {
    color: #333 !important;
}

.nav {
    margin: 0;
    min-height: 8vh;
    background-color: #4C3750;
    font-color: #FFFFFF;
    border: none;
}

.nav-object {
    color: #ffffff;
    float: right;
}

.white {
    color: #FFFFFF !important;
}

.start {
    background-color: #4C3750;
    margin-bottom: 0 !important;
    min-height: 82vh;
}

.start-title {
    font-size: 50px !important;
    margin-top: 30vh;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-weight: bold;
}

@media (max-width: 500px) {
    .start-title {
        font-size: 50px !important;
    }
}

.tryout {
    background-color: #E9E9E9;
}

.material {
    background-color: #FFFFFF;
}

.events {
    background-color: #fdbc5f;
}

.sub-title {
    margin-bottom: 10vh;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #484639;
    text-align: center;
}

.page {
    min-height: 80vh;
}

.box {
    height: 400px;
    width: 300px;
    margin: auto;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.box-header {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    margin-top: 100px;
}

.box-text {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 25px;
}

@media (min-width: 768px) {
    .title, .detail {
        float: left;
        padding-right: 10px;
    }
}

.extra {
    clear: both;
}

.row-elem {
    float: left;
}

.row-container {
    overflow: auto;
}

.heading-row {
    font-weight: bold;
    padding-left: 0;
}

.text-content {
    font-size: 16px;
}

.no-padding {
    padding: 0;
}

.full {
    color: red;
}

.non-full {
    color: lawngreen;
}

.signup {
    float: right;
    padding: 2em;
}

.icon {
    font-size: 180px;
}

.label-text {
    font-size: 30px;
}

.video {
    margin: 0 auto;
    display: block;
    width: 560px;
    height: 315px;
}

@media(max-width: 560px) {
    .video {
        margin: 0 auto;
        display: block;
        width: 300px;
        height: 168px;
    }
}

.turtle {
    width: 100%;
    margin: auto;
}

.footer {
    min-height: 20vh;
    background-color: #4C3750;
}

.box1 {
    background-color: #6BBEA9;
}

.box2 {
    background-color: #FEC772;
}

.box3 {
    background-color: #4C384F;
}

.box4 {
    background-color: #8A778F;
}

.box5 {
    background-color: #E9E9E9;
}

.box6 {
    background-color: #E25462;
}
