{% extends "base.html" %}
{% block title %}Koodikoulu{% endblock %}

{% block extrahead %}
<script src="/static/javascript/signup.js"></script>
{% endblock %}

{% block nav-index %}
<a href="/" class="active white">Opi</a>
{% endblock %}

{% block content %}
  <!-- Title -->
  <div class="jumbotron start">
    <div class="container text-center">
      <h1 class="start-title white">Koodikoulu</h1>
      <p class="white">Halusimme koota yhteen paikkaan koodiopetuksen ja oppaat Suomessa. Koodikoulu on sivusto, josta löydät kaiken, mitä aloittamiseen tarvitset.</p>
    </div>
  </div>

    <!-- Events -->
    <div id="events" class="section events">
        <div class="container page">
            <h2 class="sub-title">Ilmoittaudu koodikouluun</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default panel-1">
                        <div class="panel-heading">
                            <h3 class="panel-title">Koodikoulu ensiaskeleet</h3>
                        </div>
                        <div class="panel-body">
                            Koodikoulu ensiaskeleet on 4–9-vuotiaille lapsille suunnattu parin tunnin mittainen johdatus ohjelmoinnin alkeisiin. Ohjaajina toimivat ammattikoodaajat.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default panel-2">
                        <div class="panel-heading">
                            <h3 class="panel-title">Koodikoulu iltis</h3>
                        </div>
                        <div class="panel-body">
                            Koodikoulu iltis on kerran viikossa järjestettävä koululaisten iltapäiväkerho, jossa opitaan ohjelmoinnin perusteet. Iltis järjestetään koulun tiloissa noin 11 kertaa ja on tarkoitettu 9-vuotiaista ylöspäin.
                        </div>
                    </div>
                </div>
            </div>
            {% if events %}
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-head">
                        <div class="panel-heading" role="tab" id="heading">
                            <div class="panel-title row-container heading-row">
                                <div class="row col-xs-12 col-md-12">
                                    <div class="col-xs-4 col-md-4 row-elem">
                                        <img class="icon hidden-xs" src="/static/media/icon/koodikoulu_calendar.svg" alt="Aika">
                                        Aika
                                    </div>
                                    <div class="col-xs-4 col-md-4 row-elem">
                                        <img class="icon hidden-xs" src="/static/media/icon/koodikoulu_event.svg" alt="Tapahtuma">
                                        Tapahtuma
                                    </div>
                                    <div class="col-xs-4 col-md-3 row-elem">
                                        <img class="icon hidden-xs" src="/static/media/icon/koodikoulu_location.svg" alt="Paikka">
                                        Paikka
                                    </div>
                                    <div class="col-md-1 hidden-sm hidden-xs row-elem"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% for event in events %}
                        {% include 'events/event.html' %}
                    {% endfor %}
                </div>
            {% else %}
                <div>Ei tapahtumia.</div>
            {% endif %}
            <p>Psst... Tarvitsemme lisää ohjaajia – <a href="/organize">järjestä oma Koodikoulu ensiaskeleet tai iltis</a></p>
        </div>
    </div>

  <!-- Material links -->
  <div id="learn" class="section material">
    <div class="container page">
      <h2 class="sub-title">Opi itse</h2>
      <a href="https://www.youtube.com/watch?v=a6hf5cTOyhI" class="col-md-4">
        <div class="well well-lg box text-center box1">
          <div class="box-header">Ensimmäinen oppitunti koodauksen saloihin - video</div>
          <div class="box-text">Mila tietää ja kertoo myös miten hidas kilpikonna saadaan liikkumaan vauhdilla ja tekemään temppuja. Koodaamalla!</div>
        </div>
      </a>
      <a href="//koodaustunti.fi" class="col-md-4">
        <div class="well well-lg box text-center  box2">
          <div class="box-header">Tunnin johdatus koodaukseen</div>
          <div class="box-text">Kuka tahansa voi oppia koodauksen perusasiat. Koodautunti antaa tunnin mittaisen johdatuksen koodaamiseen.</div>
          <div>koodaustunti.fi</div>
        </div>
      </a>
      <a href="http://koodikirja.fi/" class="col-md-4">
        <div class="well well-lg box text-center box3 white">
          <div class="box-header">Ohjaa kilpikonnaa antamalla käskyjä</div>
          <div class="box-text">Koodikirja on lyhyt web-kirja, jossa opit koodaamaan vekkulin kilpikonnan ja avuliaan robotin kanssa.</div>
          <div>koodikirja.fi</div>
        </div>
      </a>
      <a href="http://codecombat.com" class="col-md-4">
        <div class="well well-lg box text-center box4 white">
          <div class="box-header">Opi koodaamista seikkailupelissä</div>
          <div class="box-text">Seikkaulupelissä koululainen pääsee opettelemaan koodin kirjoittamista laajasti ja syvällisesti.</div>
          <div>codecombat.com</div>
        </div>
      </a>
      <a href="http://codeacademy.com" class="col-md-4">
        <div class="well well-lg box text-center  box5">
          <div class="box-header">Koodauksen nettiopetus alkeista eteenpäin</div>
          <div class="box-text">Sivustolla on nettikursseja, joissa pääsee opettelemaan koodausta alkeista hyvin syvällisestikin.</div>
          <div>codeacademy.com</div>
        </div>
      </a>
      <a href="" class="col-md-4">
        <div class="well well-lg box text-center box6">
          <div class="box-header">Katso lisää muita hyviä vaihtoehtoja koodauksen opetteluun!</div>
        </div>
      </a>
    </div>
  </div>
{% endblock %}
