{% extends "base.html" %}
{% block title %}Koodikoulu{% endblock %}

{% block extrahead %}
<script src="/static/javascript/signup.js"></script>
{% endblock %}

{% block content %}
  <nav class="navbar navbar-default navbar-static-top nav">
    <div class="container white">
      Navigaatio
    </div>
  </nav>
  <!-- Startpage -->
  <div class="jumbotron start">
    <div class="container text-center col-xs-12">
      <h1 class="start-title white">Koodikoulu</h1>
      <p class="white">Halusimme koota yhteen paikkaan koodiopetuksen ja oppaat Suomessa. Koodikoulu on sivusto, josta löydät kaiken, mitä aloittamiseen tarvitset.</p>
    </div>
  </div>

  <!-- TurtleRoy -->
  <div class="section tryout">
    <div class="container page">
      <h1 class="sub-title">Kirjoita koodia samantien!</h1>
    <div class="turtle col-md-8">
      <!-- <iframe width="100%" height="400" src="https://nameless-peak-1399.herokuapp.com/" frameborder="0" scrolling="no" allowfullscreen></iframe> -->
      <iframe src="https://trinket.io/embed/python/781fff0326" width="100%" height="400" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
    </div>
    </div>
  </div>

  <!-- Material links -->
  <div class="section material">
    <div class="container page">
      <h1 class="sub-title">Opi itse</h1>
      <a href="https://www.youtube.com/watch?v=cKhVupvyhKk" class="col-md-4">
        <div class="well well-lg box text-center box1">
          <div class="box-header">Haluan ymmärtää minuutissa, mitä koodaus on!</div>
          <div class="box-text">Tästä englanninkieliseen videoon, jonka avulla ymmärrät, mistä puhutaan</div>
      </div>
      </a>
      <a href="http://code.org/learn" class="col-md-4">
        <div class="well well-lg box text-center  box2">
          <div class="box-header">Haluan päästä kokeilemaan koodausta!</div>
          <div class="box-text">Opiskele koodausta itsenäisesti suomeksi yhden tunnin ajan</div>
        </div>
      </a>
      <a href="http://koodikirja.fi/" class="col-md-4">
        <div class="well well-lg box text-center box3 white">
          <div class="box-header">Haluan opetella vähän enemmänkin!</div>
          <div class="box-text">Vietä pari tuntia suomenkielisen koodikirjan kanssa</div>
        </div>
      </a>
      <a href="http://codecademy.com/" class="col-md-4">
        <div class="well well-lg box text-center box4 white">
          <div class="box-header">Haluan oppia tosi paljon ja osaan englantia!</div>
          <div class="box-text">Opettele englanninkielisessä Codecademyssä eri koodauskieliä ja esim. nettisivujen tekemistä</div>
        </div>
      </a>
      <a href="http://mooc.fi/" class="col-md-4">
        <div class="well well-lg box text-center  box5">
          <div class="box-header">Haluan oppia tosi paljon mutta suomeksi!</div>
          <div class="box-text">Opettele yliopistojen tarjoamilla mooc-kursseilla.</div>
        </div>
      </a>
      <a href="" class="col-md-4">
        <div class="well well-lg box text-center box6">
          <div class="box-header">Muita hyviä paikkoja koodauksen opettaluun</div>
        </div>
      </a>
    </div>
  </div>

  <!-- Events -->
  <div class="section events">
    <div class="container page">
      <h1 class="sub-title">Ilmoittaudu mukaan</h1>
      {% if events %}
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading">
            <div class="panel-title row-container heading-row">
              <div class="row col-xs-12 col-md-12">
                <div class="col-xs-4 col-md-4 row-elem">Aika</div>
                <div class="col-xs-4 col-md-4 row-elem">Tapahtuma</div>
                <div class="col-xs-4 col-md-3 row-elem">Paikka</div>
                <div class="col-md-1 hidden-sm hidden-xs row-elem"></div>
              </div>
            </div>
          </div>
        </div>
          {% for event in events %}
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <div class="panel-title row-container">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#id-{{ event.pk }}" aria-expanded="true" aria-controls="collapseOne">
                <div class="row col-xs-12 col-md-12">
                  <div class="col-xs-4 col-md-4 row-elem">
                    <div class="title">{{ event.start_date }} {% if event.end_date %} - {{ event.end_date }}{% endif %}</div>
                    <div class="kkdetail">dd klo xx-xx</div>
                  </div>
                  <div class="col-xs-4 col-md-4 row-elem">
                    <div class="title">{{ event.title }}</div>
                    <div class="detail">{{ event.description }}</div>
                  </div>
                  <div class="col-xs-4 col-md-3 row-elem">
                    <div class="title">{{ event.street_address }}</div>
                    <div class="detail">{{ event.city }}</div>
                  </div>
                  {% if not event.booked %}
                  <div class="col-md-1 hidden-sm hidden-xs row-elem"><span class="glyphicon glyphicon-minus-sign full"></span></div>
                  {% else %}
                  <div class="col-md-1 hidden-sm hidden-xs row-elem"><span class="glyphicon glyphicon-plus-sign non-full"></span></div>
                  {% endif %}

                </div>
              </a>
            </div>
          </div>
          <div id="id-{{ event.pk }}" class="panel-collapse collapse icon" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <div class="text-content">
                <div class="info col-xs-12 col-md-8">
                  <p>{{ event.description }}</p>
                  <a href="http://koodikerho.fi/">http://koodikerho.fi/</a>
                  <ul>
                    <li>
                      <span class="col-xs-4 col-md-2 heading-row">Ota mukaan:</span>
                      <span class="col-xs-8 col-md-6">Läppäri ja aikuinen apuri</span>
                    </li>
                    <li>
                      <span class="col-xs-4 col-md-2 heading-row">Hinta:</span>
                      <span class="col-xs-8 col-md-6">0€</span>
                    </li>
                    <li>
                      <span class="col-xs-4 col-md-2 heading-row">Esitiedot:</span>
                      <span class="col-xs-8 col-md-6">Koodikerho on 9+ -vuotiaille. Osallistujalla ei tarvitse olla etukäteen koodamisesta kokemusta.</span>
                    </li>
                    <li>
                      <span class="col-xs-4 col-md-2 heading-row">Järjestäjä:</span>
                      <span class="col-xs-8 col-md-6">{{ event.organizer }}, 040 123456789, kari.koodaaja@koodi.fi</span>
                    </li>
                  </ul>
                </div>
                <div class="col-xs-12 col-md-4 text-center">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7615.559820551766!2d23.7610254!3d61.498150349999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x468edf554593da5d%3A0x6adfe3bd1e0b22c0!2s33100+Tampere%2C+Finland!5e0!3m2!1sen!2sus!4v1438606569909" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                  {% if not event.booked %}
                  <div class="signup">Kurssi on täynnä</div>
                  {% else %}
                  <div class="signup">Ilmoittaudu</div>
                  {% endif %}
              </div>
            </div>
            <div class="panel-body">
              <div class="text-content">
                <div class="info col-xs-12 mol-md-8">
                  <form method="post" id="signup-form" action="{% url 'web.views.handle_signup' pk=event.pk %}">
                    <p>Ilmoittautuminen</p>
                    {% csrf_token %}
                    {{ form.as_ul }}
                    <input type="submit" id="signup" name="signup" value="Ilmoittaudu" />
                    <p class="submit-error" style="color: red;"></p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
          {% endfor %}
      </div>
      {% else %}
          <div>Ei tapahtumia</div>
      {% endif %}
    </div>
  </div>

  <!-- Info section -->
  <div class="section">
    <div class="container page">
      <h1 class="sub-title">Mitä koodaus on?</h1>
      <div class="video-container">
        <iframe class="video" src="https://www.youtube.com/embed/cKhVupvyhKk" frameborder="0" allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div class="footer">
  </div>
{% endblock %}
