{% extends "base.html" %}
  {% block title %}Ilmoita tapahtumasta{% endblock %}
  {% block extrahead %}
  <link rel="stylesheet" href="/static/css/admin.css">
  {% endblock %}
  {% block content %}
    <section>
        <div class="container">
            <h1>Ilmoita tai lisää tapahtuma sivulle</h1>
            <p>Tähän info teksti. Noudata seuraavia ohjeita</p>
            <h3>1. Rekisteröidy</h3>
            <p>Luodaksesi tapahtuman, tulee sinun rekisteröityä järjestäjäksi. Pääset tekemään sen <a href="/register">täältä</a>.</p>
            <h3>2. Luo tapahtuma</h3>
            <p>Rekisteröityneenä käyttäjänä, voit luoda uuden tapahtuman <a href="/events/create">tästä</a>.</p>
            <h3>3. Hae ilmoittautumiset</h3>
            <p>ohje</p>
        </div>
    </section>
  {% endblock %}
