{% extends "base.html" %}
{% block title %}Koodikoulu - Tarina{% endblock %}

{% block nav-story %}
    <a href="/story/" class="active white">Tarina</a>
{% endblock %}

{% block content %}
<div class="section story">
  <div class="container">
    <h2 class="sub-title">Lue syntytarina</h2>
        <p>Idea koodikoulusta syntyi reaktorilaisen Juha Paanasen aloitteesta. Hän piti aluksi 4-vuotiaalle tyttärelleen tietokonetunteja, joilla opetti lapselleen tietokoneen käyttöä ja koodausta. Paananen alkoi kirjoittaa oppitunneistaan blogia ja samalla Paanasen työkaverit innostuivat tuomaan omia lapsiaankin hänen opetettavakseen.</p>
        <p>Työpaikan sisäiset koodikoulut olivat niin onnistuneita, että koodausoppitunteja päätettiin alkaa pitää avoimesti. Ensimmäinen julkinen koodikoulu järjestettiin tammikuussa 2014. Tilaisuuden kaikki paikat varattiin alle tunnissa. Sittemmin lukuisat IT-alan yritykset, kirjastot ja kerhot ovat järjestäneet kymmeniä koodikouluja.</p>
        <p>Ensimmäisten Koodikoulujen jälkeen käynnistyivät syksyllä 2014 myös koodikerhot, joita järjestettiin Tampereella ja Espoossa. Keväällä 2015 alkoivat uudet kerhot Helsingissä ja Vantaalla. Syksyllä 2015 uusia kerhoja on alkanut Tampereen ja Helsingin seuduilla.</p>
  </div>
</div>
<div class="section material">
  <div class="container">
     <h2 class="sub-title">Mitä nyt?</h2>
        <p>Koodi on kieli, jolla maailmaa pyörii nyt ja tulevaisuudessa. Koodauksen perusteiden ymmärtäminen antaa välineet siirtyä passiivisesta palveluiden käyttämisestä aktiiviseksi sisältöjen tuottajaksi. Älä vain lataa uusin appia  - tee se itse! Me Koodikoulussa haluamme antaa jokaiselle mahdollisuuden oppia perusasiat koodauksesta ja ymmärtää näin paremmin maailmaa ympärillämme. Sen takia kokosimmekin yhteen paikkaan koodiopetuksen ja oppaat Suomessa. Koodikoulusta löytyy tällä hetkellä Koodikoulu ensiaskeleet ja Koodikoulu iltis.</p>
        <h3>Koodikoulun ensiaskeleet</h3>
        <p>Koodikoulun ensiaskeleissa (entinen Lasten Koodikoulu) ammattiosaajat jakavat omaa tietotaitoaan lapsille. Ensiaskeleet ovat 4-9-vuotiaille lapsille suunnattuja parin tunnin mittaisia johdatusopetuksia koodauksen maailmaan. Lapsi voi opetella koodaamista yhdessä vanhemman sekä muiden lasten kanssa.</p>
        <h3>Koodikoulun iltis</h3>
        <p>Koodikoulun iltis (Koodikerho) on kerran viikossa järjestettävä yli kolmasluokkailaisille, yli 9-vuotiaille, tarkoitettu iltapäiväkerho, jossa lapset oppivat ohjelmoinnin perusteet. Iltiksiä järjestetään paikallisten koulujen tiloissa ja tuella. Niitä vetää ohjelmoinnista kiinnostunut opettaja tai esimerkiksi IT-alalla työskentelevä vanhempi. Opetusmateriaalit tuottaa Koodikerho-verkosto. Tutustu <a title="Opetusmateriaalit 1.0 BETA" href="http://koodikerho.fi/materiaalit/" target="_blank">avoimesti jaettuihin materiaaleihin</a>.</p>
        <p>Tavoitteenamme on perustaa toistuvasti kokoontuvia iltapäiväkerhoja eri puolille Suomea, jotta kaikki ohjelmoinnista kiinnostuneet lapset pääsevät oppimaan koodaamisen perusteita. Kerhoihin kaivataan vetäjiä, yhteistyökouluja ja oppilaita. Lue lisätietoja sivustoltamme ja <a title="Ilmoittautuminen" href="http://koodikerho.fi/ilmoittaudu/" target="_blank">ilmoittaudu mukaan</a>!</p>
  </div>
</div>
<div class="section story">
  <div class="container">
    <h2 class="sub-title">Koodikoulu mediassa</h2>
      <p>Valtamediat uutisoivat Koodikoulun isän Juha Paanasen nelivuotiaan tyttären Milan hämmästyttävistä koodaustaidoista:</p>
      <p><a href="http://www.hs.fi/tekniikka/a1385088678561" target="_blank">Helsingin Sanomat</a></p>
      <p><a href="http://areena.yle.fi/1-2283368" target="_blank">Yle Puhe</a></p> 
      <p><a href="http://hbl.fi/nyheter/2013-11-22/531196/mila-4-visar-att-flickor-visst-kan-koda" target="_blank">Hufvudstadsbladet</a></p> 
      <p>Koodikoulusta on kirjoitettu myös seuraavissa medioissa:</p> 
      <p><a href="http://www.taloussanomat.fi/tyo-ja-koulutus/2014/03/22/oppiiko-lapsesi-koodaamaan-ennen-lukemista/20144082/139" target="_blank">Taloussanomat</a></p>
      <p><a href="http://www.ess.fi/uutiset/kotimaa/2014/02/20/suomalainen-it-yritys-kantaa-vastuuta-tulevaisuudesta---lapsille-ilmainen-koodauksen-opetusohjelma" target="_blank">Etelä-Suomen Sanomat</a></p>
  </div>
</div>
{% endblock %}
