{% extends "base.html" %}
{% block title %}Koodikoulu - Tarina{% endblock %}

{% block content %}
  <div id="story" class="section story">
    <div class="container page">
      <h1 class="sub-title">Lue syntytarina</h1>
      <div class="text-container col-xs-10 col-xs-offset-1">
        <p>Idea koodikoulusta syntyi reaktorilaisen Juha Paanasen aloitteesta. Hän piti aluksi 4-vuotiaalle tyttärelleen tietokonetunteja, joilla opetti lapselleen tietokoneen käyttöä ja koodausta. Paananen alkoi kirjoittaa oppitunneistaan blogia ja samalla Paanasen työkaverit innostuivat tuomaan omia lapsiaankin hänen opetettavakseen.</p>

        <p>Työpaikan sisäiset koodikoulut olivat niin onnistuneita, että koodausoppitunteja päätettiin alkaa pitää avoimesti. Ensimmäinen julkinen koodikoulu järjestettiin tammikuussa 2014. Tilaisuuden kaikki paikat varattiin alle tunnissa. Sittemmin lukuisat IT-alan yritykset, kirjastot ja kerhot ovat järjestäneet kymmeniä koodikouluja.</p>

        <p>Lasten koodikouluista uutisoitiin myös laajasti valtamediassa: <a href="http://www.hs.fi/tekniikka/a1385088678561">Helsingin Sanomat</a>, <a href="http://areena.yle.fi/1-2283368">Yle Puhe</a> ja <a href="http://hbl.fi/nyheter/2013-11-22/531196/mila-4-visar-att-flickor-visst-kan-koda">Hufvudstadsbladet</a> uutisoivat koodikoulun isän, Juha Paanasen nelivuotiaan tyttären Milan hämmästyttävistä koodaustaidoista. Myös esimerkiksi <a href="http://www.taloussanomat.fi/tyo-ja-koulutus/2014/03/22/oppiiko-lapsesi-koodaamaan-ennen-lukemista/20144082/139">Taloussanomat</a> ja <a href="http://www.ess.fi/uutiset/kotimaa/2014/02/20/suomalainen-it-yritys-kantaa-vastuuta-tulevaisuudesta---lapsille-ilmainen-koodauksen-opetusohjelma">Etelä-Suomen Sanomat</a> ovat kirjoittaneet Koodikoulusta.</p>
      </div>
    </div>
  </div>
{% endblock %}
