<div class="panel">
  <div class="panel-heading">
    <div class="panel-title row-container">
      <div class="row col-xs-12 col-md-12">
        <div class="col-xs-12 col-md-12 row-elem">
          <h3 class="title">{{ event.title }}</h3>
          <a href="/export-signup/{{ event.pk }}" class="export-link">Lataa tiedot (CSV)</a>
        </div>
      </div>

      <div class="panel-group event-list" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-head">
            <div class="panel-heading" role="tab" id="heading">
                <div class="panel-title row-container heading-row">
                    <div class="row col-xs-12 col-md-12">
                        <div class="col-xs-4 col-md-4 row-elem">
                            Nimi
                        </div>
                        <div class="col-xs-4 col-md-4 row-elem text-center">
                            Huoltajan nimi
                        </div>
                        <div class="col-xs-4 col-md-4 row-elem text-right">
                            Sähköposti
                        </div>
                        <div class="col-md-1 hidden-sm hidden-xs row-elem"></div>
                    </div>
                </div>
            </div>
        </div>
      {% for p in event.participants.all %}
        <div class="panel panel-event" id="participant-{{ p.pk }}">
          <div class="panel-heading" role="tab" id="headingOne">
            <div class="panel-title row-container">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#id-{{ p.pk }}" aria-expanded="true" aria-controls="collapseOne">
                <div class="row col-xs-12 col-md-12">
                  <div class="col-xs-4 col-md-4 row-elem">
                    <span class="title">{{ forloop.counter }}. {{ p.child }}</span>
                  </div>
                  <div class="col-xs-4 col-md-4 row-elem text-center">
                    {{ p.guardian }}
                  </div>
                  <div class="col-xs-4 col-md-4 row-elem text-right">
                    {{ p.email }}
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div id="id-{{ p.pk }}" class="panel-collapse collapse icon" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <div class="text-content">
                  <div class="info col-xs-6 col-md-6">
                    <p>Ikä: {{ p.age }}</p>
                    <p>Puhelinnumero: {{ p.phone }}</p>
                    <p>Muuta: {{ p.other }}</p>
                  </div>
                  <div class="info col-xs-6 col-md-4">
                    <input type="submit" value="Poista" name="{{ p.pk }}">
                  </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>

      {% if not event.participants.all %}
      <div class="row col-xs-12 col-md-12">
        <div class="col-xs-4 col-md-4 row-elem">
          <p>Ei osallistujia</p>
        </div>
      </div>

      {% else %}
      <div class="panel-group event-list" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-head">
            <div class="panel-heading" role="tab" id="heading">
                <div class="panel-title row-container heading-row">
                    <div class="row col-xs-12 col-md-12">
                        <div class="col-xs-12 col-md-12 row-elem">
                            Kaikki sähköpostiosoitteet
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <div class="panel panel-event" id="emails-id-{{ event.pk }}">
        <div id="emails-id-{{ event.pk }}">
          <div class="panel-body">
            <div class="text-content">
              <div class="info col-xs-12 col-md-12">
                <p>
                {% for p in event.participants.all %}
                  {% if forloop.last %}
                    {{ p.email }}
                  {% else %}
                    {{ p.email }},
                  {% endif %}
                {% endfor %}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      {% endif %}

    </div>
  </div>
</div>
