{% extends "base.html" %}
{% block title %}Omat tapahtumat{% endblock %}

{% block extrahead %}
<script src="/static/javascript/own-events.js"></script>
<script src="/static/javascript/js.cookie.js"></script>
{% endblock %}

{% block nav-own-events %}
    <a href="/own-events/" class="active">Omat tapahtumat</a>
{% endblock %}

{% block content %}

<div id="own-events" class="section material">
  <div class="container page">
    <h2 class="sub-title">Omat tapahtumat</h2>

    <div class="text-container col-md-12">
      {% if events %}
        {% for event in events %}
          {% include 'own-events/own-event.html' %}
        {% endfor %}
      {% else %}
        <p>Ei omia tapahtumia.</p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
