<div class="panel organizer-event">
    <div class="row">
      <div class="col col-md-8">
        <h3>{{ event.title }} ({{ event.start_date | date:"SHORT_DATE_FORMAT" }})</h3>
      </div>
      <div class="col col-md-4 text-right">
        <strong>Tila</strong>:
        {% if event.approved %}Julkinen{% else %}Odottaa hyväksyntää{% endif %}
      </div>
    </div>

  <table class="participants table table-striped">
    <thead>
      <tr>
        <th>Sija</th>
        <th>Nimi</th>
        <th>Huoltajan nimi</th>
        <th>Sähköposti</th>
        <th>Poista</th>
      </tr>
    </thead>
    <tbody>
      {% for p in event.participants.all %}
        <tr class="participant" data-toggle="collapse" data-target="#details-{{ p.pk }}">
          <td><strong>{{ forloop.counter }}.</strong></td>
          <td>{{ p.child }}</td>
          <td>{{ p.guardian }}</td>
          <td><a href="mailto:{{ p.email }}">{{ p.email }}</a></td>
          <td><input class="custom-trash-button" type="submit" value="" name="{{ p.pk }}"></td>
        </tr>
        <tr class="collapse details" id="details-{{ p.pk }}">
          <td colspan="5">
            <dl>
              <dt>Ikä:</dt>
              <dd>{{ p.age }}</dd>

              {% if p.phone %}
                <dt>Puhelinnumero:</dt>
                <dd>{{ p.phone }}</dd>
              {% endif %}

              {% if p.other %}
                <dt>Muuta:</dt>
                <dd>{{ p.other }}</dd>
              {% endif %}
            </dl>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">Ei ilmoittautuneita.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if event.participants.all %}
    <h4>Kaikki sähköpostiosoitteet</h4>
    <p class="email-list">
      {% for p in event.participants.all %}
        {% if forloop.last %}
          {{ p.email }}
        {% else %}
          {{ p.email }},
        {% endif %}
      {% endfor %}
    </p>
    <p>
      <a href="/export-signup/{{ event.pk }}" class="download">Lataa kaikki tiedot (CSV)</a>
    </p>
  {% endif %}
</div>
