<script>
$(function() {
    $( ".startdate" ).datepicker({
        dateFormat: "dd.mm.yy"
    });
    $( ".enddate" ).datepicker({
        dateFormat: "dd.mm.yy"
    });
});
</script>
{% load form_extras %}

<div class="section create-event-container" id="create-event">
  <div class="container page">
    <div class="row">
        <section class="col-md-12">
            <h2 class="sub-title">Ilmoita omasta tapahtumastasi</h2>
            <p>Ilmoita oma koodiaiheinen tapahtuma sivuston tapahtumakalenteriin.</p>
        </section>
    </div>
    <form method="post" action="{% url 'web.views.organize' %}">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-12">

        <div class="form-group">
          {% show_form_field form.title %}
        </div>
      <div class="form-group"><div class="styled-select">{% show_form_field form.category %}</div></div>
        <div class="form-group">{% show_form_field form.start_date %}</div>
        <div class="form-group">{% show_form_field form.end_date %}</div>

        <div class="form-group">
          <label>Kello</label><br>
          {{ form.start_hours }}:{{ form.start_minutes }} &ndash; {{ form.end_hours }}:{{ form.end_minutes }}
        </div>

        <div class="form-group">{% show_form_field form.price %}</div>
        <div class="form-group">{% show_form_field form.bring_along %}</div>
        <div class="form-group">{% show_form_field form.street_address %}</div>
        <div class="form-group">{% show_form_field form.city %}</div>
        <div class="form-group">{% show_form_field form.requirements %}</div>
        <div class="form-group">{% show_form_field form.description %}</div>
        <div class="form-group">{% show_form_field form.organization %}</div>
        <div class="form-group">{% show_form_field form.amount %}</div>
        <div class="form-group">{% show_form_field form.signup_link %}</div>

        <div class="form-group">
          <input class="btn" type="submit" value="Luo tapahtuma">
        </div>
      </div>
    </div>
    </form>
  </div>
</div>
