{% block extrahead %}
  <script src="/static/javascript/create_event.js"></script>
{% endblock %}
{% load tags %}

<div id="create-event" class="container">
  <h2>Ilmoita omasta tapahtumastasi</h2>
  <div class="row">
    <div class="col-md-12">
      <p>Ilmoita oma koodiaiheinen tapahtuma sivuston tapahtumakalenteriin.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form class="organize-form" method="post" action="{% url 'web.views.organize' %}">
        {% csrf_token %}
        <div class="form-group">{% show_form_field form.title %}</div>

        <div class="form-group">
          <div class="styled-select">{% show_form_field form.category %}</div>
        </div>

        <div class="form-group">{% show_form_field form.start_date %}</div>
        <div class="form-group">{% show_form_field form.end_date %}</div>

        <div class="form-group">
          <label class="required" for="id_id_start_hours">Kello</label><br>
          <label class="required" for="id_id_start_minutes" style="display:none"></label>
          <label class="required" for="id_id_end_hours" style="display:none"></label>
          <label class="required" for="id_id_end_minutes" style="display:none"></label>
          {{ form.start_hours }}:{{ form.start_minutes }} &ndash; {{ form.end_hours }}:{{ form.end_minutes }}
        </div>

        <div class="form-group">{% show_form_field form.price %}</div>
        <div class="form-group">{% show_form_field form.bring_along %}</div>
        <div class="form-group">{% show_form_field form.street_address %}</div>
        <div class="form-group">{% show_form_field form.city %}</div>
        <div class="form-group">{% show_form_field form.requirements %}</div>
        <div class="form-group">{% show_form_field form.description %}</div>
        <div class="form-group">{% show_form_field form.organization %}</div>
        <div class="form-group">{% show_form_field form.amount %}</div>
        <div class="form-group">{% show_form_field form.signup_link %}</div>
        <div class="form-group">{% show_form_field form.signup_open_date %}</div>
        <div class="form-group">
          <label for="id_id_signup_open_hours">Kello</label><br>
          <label for="id_id_signup_open_minutes" style="display:none"></label>
          {{ form.signup_open_hours }}:{{ form.signup_open_minutes }}
        </div>

        <div class="form-group">
          <input disabled class="btn" type="submit" value="Luo tapahtuma">
          <div class="col-md-4">
            <img class="spinner" src="/static/media/ajax-loader.gif" alt="Loading">
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <p class="submit-message success">Tapahtumasi on tallennettu ja lähetetty sivun ylläpitäjälle. Kun ylläpitäjä on tarkistanut tapahtumasi, se ilmestyy etusivulle. Tarkista omat tapahtumasi ja niiden tila 'Omat tapahtumat'-sivulta.</p>
            <p class="submit-message error">Palvelinvirhe. Yritä hetken kuluttua uudelleen.</p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
