{% extends "base.html" %}
{% block title %}Järjestä{% endblock %}

{% block extrahead %}
  <meta property="og:url" content="http://www.koodikoulu.fi/organize/">
  <meta property="og:title" content="Koodikoulu.fi - Anna oma panoksesi Koodikoululle">
{% endblock %}

{% block nav-organize %}
  <a href="/organize/" class="active">Järjestä</a>
{% endblock %}

{% block content %}

{% if login_form.errors %}
  <section class="flash error">
    Kirjautuminen epäonnistui.
    <span class="close">✕</span>
  </section>
{% endif %}

<section>
  <div class="container">
    <h2>Anna oma panoksesi Koodikoululle</h2>
    <div class="row">
      <div class="col-md-4 text-center col-lg-push-8">
        <img src="/static/media/organize1.png" class="picture">
      </div>
      <div class="col-md-8 col-lg-pull-4">
        <h3>Järjestä Koodikoulun ensiaskeleet</h3>

        <p>Koodikoulun ensiaskeleet on 4–9-vuotiaille lapsille suunnattu parin tunnin mittainen johdatus ohjelmoinnin alkeisiin.</p>

        <p><strong>Järjestämiseen tarvitset:</strong></p>
        <ul>
          <li>1 innostunut ohjaaja ja 1–2 avustajaa</li>
          <li>10–15 oppilasta ja vanhempaa</li>
          <li>kannettavat tietokoneet (osallistujien omat tai järjestäjän tarjoamat) + internetin</li>
          <li>sopivan tilan.</li>
        </ul>

        <p><a href="http://koodikoulu.github.io/koodikoulu/" target="_blank">Ohjeet ja materiaalit Koodikoulun järjestämiseen</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center">
        <img src="/static/media/organize2.png" class="picture">
      </div>
      <div class="col-md-8">
        <h3>Järjestä Koodikoulun iltis</h3>

        <p>Koodikoulun iltis on koululaisten iltapäiväkerho ohjelmoinnin perusteiden oppimiseen. Voit toimia itse iltiksen vetäjänä! Se järjestetään paikallisen koulun tiloissa ja tuella. Iltis tarjoaa valmiit opetusmateriaalit ja perehdytyksen.</p>

        <p><a href="http://koodikerho.fi/materiaalit/" target="_blank">Tutustu materiaaleihin ja ilmoittaudu ohjaajaksi</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center col-lg-push-8">
        <img src="/static/media/organize3.png" class="picture">
      </div>
      <div class="col-md-8 col-lg-pull-4">
        <h3>Tue Koodikoulun kehittämistä</h3>
        <p>Tule mukaan tukemaan Koodikoulun toimintaa sponsoroimalla Koodikoulu-sivuston kehittämistä ja ylläpitämistä. Ota meihin yhteyttä sähköpostitse <a href="mailto:info@koodikoulu.fi">info@koodikoulu.fi</a> niin sovitaan yhteistyöstä paremmin.</p>
        <p>Voit myös osallistua suoraan Koodikoulu-sivuston kehittämiseen <a href="https://github.com/koodikoulu/koodikoulu.fi" target="_blank">GitHubin kautta.</a></p>
      </div>
    </div>
  </div>
</section>
<section class="muted">
  {% if user.is_authenticated %}
    {% include 'organize/create_event.html' with form=create_event_form %}
  {% else %}
    {% include 'registration/login.html' with form=login_form %}
  {% endif %}
</section>

{% endblock %}
