{% extends "base.html" %}
{% block title %}Järjestä{% endblock %}

{% block nav-organize %}
    <a href="/" class="active white">Järjestä</a>
{% endblock %}

{% block content %}

<div id="organize">
  <div class="container page">
    <h2 class="sub-title">Anna oma panoksesi koodikoululle</h2>
    <section>
      <div class="row">
        <div class="col-md-8">
          <h3>Järjestä koodikoulu</h3>

            <p>Koodikoulu on 4–9-vuotiaille lapsille suunnattu parin tunnin mittainen johdatus ohjelmoinnin alkeisiin</p>

          <p><strong>Järjestämiseen tarvitset:</strong></p>
          <ul>
            <li>1 opettaja ja 1–2 avustajaa</li>
            <li>10–15 oppilasta ja vanhempaa</li>
            <li>kannettavat tietokoneet (omat tai järjestäjän tarjoamat) + internetin.</li>
          </ul>

          <p><a href="https://github.com/koodikoulu/koodikoulu">Ohjeet ja materiaalit Koodikoulun GitHubista.</a></p>
          <p><a href="https://vimeo.com/86706312">Tässä vielä video koodikoulun järjestämisestä.</a></p>
        </div>
        <div class="col-md-4 hidden-xs">
            <div class="picture"></div>
        </div>
      </div>
    </section>
    <section>
        <div class="row">
            <div class="col-md-4 hidden-xs">
                <div class="picture"></div>
            </div>
            <div class="col-md-8">
                <h3>Järjestä koodikerho</h3>

                <p>Koodikerho on koululaisten iltapäiväkerho ohjelmoinnin perusteiden oppimiseen. Voit toimia itse Koodikerhon vetäjänä! Kerho järjestetään paikallisen koulun tiloissa ja tuella. Koodikerho tarjoaa valmiit opetusmateriaalit ja perehdytyksen.</p>

                <p><a href="http://koodikerho.fi/ilmoittaudu/">Ilmoittaudu ohjaajaksi Koodikerhon sivulla</a></p>
                <p><a href="http://koodikerho.fi/materiaalit/">Tutustu Koodikerhon materiaaleihin</a></p>

            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-md-8">
                <h3>Tue Koodikoulun kehittämistä</h3>
                <p>Tule mukaan tukemaan Koodikoulun toimintaa sponsoroimalla Koodikoulu-sivuston kehittämistä ja ylläpitämistä.
                    Ota meihin yhteyttä sähköpostitse niin sovitaan yhteistyöstä paremmin.</p>

                <p>Voit myös osallistua suoraan Koodikoulu-sivuston kehittämiseen <a
                        href="https://github.com/koodikoulu/koodikoulu.fi">GitHubin kautta.</a></p>
            </div>
            <div class="col-md-4 hidden-xs">
                <div class="picture"></div>
            </div>
        </div>
    </section>
  </div>
</div>

{% if user.is_authenticated %}
{% include 'organize/create_event.html' with form=create_event_form %}
{% else %}
{% include 'registration/login.html' with form=login_form %}
{% endif %}

<div class="text-center section feedback yellow">
    <p>
        <a href="#">Anna palautetta Koodikoulusta</a>
    </p>
</div>

{% endblock %}
